[2021-11-16 16:18] thejoefriel opened #1 "Admin"
### Important App Info
 This is a protected document. If you feel you should have access please contact @thejoefriel

 XXX
 ### Details on using third party apps
 _If any third party apps are used (e.g. Google Analytics), then documentation should be created and stored here on how to access them and what they are for_
 ### Quick Jargon Review
 - **Issue**
  These are effectively the tasks that are

[2021-11-16 16:18] thejoefriel opened #2 "Resources"
### This is where all useful links (e.g. wireframes, documentation, user testing) can be stored if there is no other issue to reference it

[2021-11-16 16:18] thejoefriel opened #3 "Set up Webflow account"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Set up team account
 - [x] Use Yalla's card details
 - [x] Store log in details in the #1 Admin issue

[2021-11-16 16:18] thejoefriel opened #4 "Create style guide"
### Further info
This is to set up all the core styling for the webflow project

---

### Acceptance criteria

- [x] FONTS
- [x] Colors
- [x] Typography
- [x] Spacings
- [x] Shadows

---

### To be added by design

Hey @bethanyios can you upload here please:
- [x] Fonts

[2021-11-16 16:18] thejoefriel opened #5 "Set up navigation urls"
### Further info

Get all the urls set up at least so everything can be linked at point of pages being set up
You can refer to the wireframe site map for this if you like :)

### Acceptance criteria
- [x] Ensure all navigation routes for pages are set up so the url is /[PAGE] with separate words joined by hyphen
- [x] For all collection based blog posts (e.g. stories) set up the default url to /[C

[2021-11-16 16:18] thejoefriel opened #6 "Add Images"
### Further info
Get all the initial images we have into webflow so we don't have to worry about exports during development

---

### Acceptance criteria

- [x] Upload all images using the zip file to be added here

---

### To be added by design

- [x] Hey @bethanyios can you upload a zip file of all the images please (either a zip file or a link to a download from your Google drive)
    - [x] En

[2021-11-16 16:18] thejoefriel opened #7 "Add Icons"
### Further info
Get all the initial images we have into webflow so we don't have to worry about exports during development

---

### Acceptance criteria

- [x] Add all icons using the zip file to be added here

---

### To be added by design

- [x] Hey @bethanyios can you upload a zip file of all the icons please (either a zip file or a link to a download from your Google drive)
    - [x] Ensure

[2021-11-16 16:27] thejoefriel opened #8 "Homepage"
---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_

- [x] Create homepage https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=78%3A94
- [x] Clicking arrow scro

[2021-11-16 16:32] thejoefriel opened #9 "Navbar"
__Further info__

This doesn't include search site functionality which is picked up in separate issue

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_

- [x] Create navbar in line with wireframes

[2021-11-16 16:38] thejoefriel opened #10 "Footer (incl. Mailchimp set up)"
__Further info__

I've included Mailchimp set up in this so we can have the footer completely done

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_

**Footer creation**
- [x] Create footer https:

[2021-11-16 16:41] thejoefriel opened #11 "Links needed from client"
__Further info__
Things we need from Chiltern to be added here

[2021-11-16 18:21] thejoefriel opened #12 "Site Search functionality"
__Further info__

Create the ability for users to search the website via the search function in the navbar

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_

- [x] Results loads this page https://

[2021-11-16 18:27] thejoefriel opened #13 "Our services"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A651
 - [x] CMS collections - NONE
 -

[2021-11-16 18:42] thejoefriel opened #14 "Get support"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=122%3A598
 - [x] CMS collections - NONE
 -

[2021-11-16 18:42] thejoefriel opened #15 "Get involved"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page - has three tabs
    - [x] Training https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A

[2021-11-16 18:42] thejoefriel opened #16 "Support Us"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A1219
 - [x] CMS collections
     - [

[2021-11-16 18:42] thejoefriel opened #17 "Insights"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A1300
 - [x] CMS collections
     - [

[2021-11-16 18:42] thejoefriel opened #18 "About Chiltern"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A1379
 - [x] CMS collections
     - [

[2021-11-16 18:42] thejoefriel opened #19 "Donate"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A1455
 - [x] CMS collections
 - [x] P

[2021-11-16 18:42] thejoefriel opened #20 "Contact"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A1527
 - [x] CMS collections - NONE

[2021-11-16 18:42] thejoefriel opened #21 "Blog Post - Insights"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page (and all variations to the right - story, news, research) https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---

[2021-11-16 18:42] thejoefriel opened #22 "Make an enquiry (incl. Automate/Zapier x Salesforce)"
**Further info**
Includes form creation and submission to Salesforce via Zapier

**Update**
Rather than Zapier we're going to see if we can get it working with Automate.io instead

### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE

[2021-11-16 18:42] thejoefriel opened #23 "Who we work with"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=247%3A2364
 - [x] CMS collections
     - [

[2021-11-16 18:42] thejoefriel opened #24 "Individual Post - Who we work with"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page (and all the pages to the right and below (covering all 9 variations) https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Musi

[2021-11-16 18:42] thejoefriel opened #25 "Where we work"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=298%3A4328
 - [x] CMS collections
     - [

[2021-11-16 18:42] thejoefriel opened #26 "Individual Post - Where we work"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create post https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=519%3A12559
 - [ ] CMS collections
     -

[2021-11-16 18:42] thejoefriel opened #27 "Community groups"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=310%3A3708
 - [x] CMS collections
      -

[2021-11-16 18:42] thejoefriel opened #28 "Post - Community groups"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create modal https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=310%3A3901
 - [x] Each one is a modal

[2021-11-16 18:42] thejoefriel opened #29 "Post - Training Event"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [ ] Create page XXXX
 - [ ] CMS collections
 - [ ] Please refer to text limits in Figma comments
 - [ ] Please follow prototype links in Figma

[2021-11-16 18:42] thejoefriel opened #30 "Post - Lecture Workshop"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=299%3A5935
 - [x] CMS collections - NONE

[2021-11-16 18:42] thejoefriel opened #31 "Post - Job/Volunteering"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=312%3A4937
 - [x] CMS collections
 - [x] P

[2021-11-16 18:42] thejoefriel opened #32 "Our team"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=311%3A3999
 - [x] CMS collections
     - [

[2021-11-16 18:42] thejoefriel opened #33 "Card - Staff"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create card https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=335%3A8400
 - [x] Please refer to text lim

[2021-11-16 18:44] thejoefriel opened #34 "Post - Policies"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create collapsible section (and variations to right - 4 in total) https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Webs

[2021-11-16 18:44] thejoefriel opened #35 "Map of services"
### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_
 - [x] Create page https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=125%3A1595
 - [x] CMS collections
 - [x] P

[2021-11-16 19:34] thejoefriel commented on #29
Duplicate of #21

[2021-11-16 19:34] #29 closed

[2021-11-17 10:09] bethanyios commented on #4
Here is the folder for fonts https://drive.google.com/drive/folders/1ePFuugu_wc0oIwCn-9_U7YBomIieELrx?usp=sharing

[2021-11-17 11:15] bethanyios commented on #6
Here are the images https://drive.google.com/drive/folders/1gGWWAKmViT1VJYkziU-ayeWzzstRatbZ?usp=sharing

Naming convention:
**page-section (type)**

[2021-11-17 11:15] bethanyios commented on #6
- [ ] Images of individual staff has been requested

[2021-11-17 11:20] bethanyios commented on #10
We don't have a success message, I think webflow standard will suffice! @thejoefriel

[2021-11-17 11:28] bethanyios commented on #16
Hi @thejoefriel, just a stack

[2021-11-17 11:34] bethanyios commented on #27
Hi @thejoefriel, just the coloured graphics

[2021-11-17 11:39] bethanyios commented on #30
Hi @thejoefriel keep as the graphic header

[2021-11-17 11:42] bethanyios commented on #35
Hi @thejoefriel
Have done some liaising already, @RamyAlshurafa & @fadeomar seem happy with the plan.

The pins will relate to location and once opened will list the multiple therapy types that exist in that city.

[2021-11-18 11:58] fadeomar opened #36 "Buttons"
__Further info__

the button component shouldn't be a symbol since we have changed the styles instead we can you compo classes to add the custom style on it.

for all buttons types, make sure to create the structure of the component on the main class and keep the custom differentiation styles on the compo class

for Routings Buttons: make sure all SVG's used are uploaded first related to #7 and #6

[2021-11-18 12:03] fadeomar opened #37 "Inputs"
__Wireframe link__
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=417%3A8878
---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_

- [x]  Make sure all type

[2021-11-18 12:09] fadeomar opened #38 "page headers"
__Further info__

  we have one type for page headers, meanly the header takes 100vh and shows the image with a down arrow.
since we have the same style properties, then it can be a symbol
__Wireframe link__
type 1: https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=458%3A13329.
_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER

[2021-11-18 12:19] fadeomar opened #39 "Cards"
__Wireframe link__
https://www.figma.com/file/vC6iqpWqeTJSPkM0Lswcfp/Shannon-Trust---Website?node-id=834%3A16325
_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE UNLESS THIS HAS BEEN DONE**_

- [x]

[2021-11-18 12:22] fadeomar opened #40 "Tags"
__Further info__

tag component has two states (active and not active )

__Wireframe link__
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=417%3A8709
_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWIS

[2021-11-18 12:25] fadeomar opened #41 "Modal"
__Further info__

we have three modal variations

__Wireframe link__
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=417%3A8353
_Add link to design here_
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=114%3A1079
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=114%3A1089

[2021-11-18 12:46] fadeomar opened #42 "Text Section"
__Further info__

the text section contain
  - title
  - icon
  - decription

__Wireframe link__
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=417%3A8657
_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTH

[2021-11-18 12:48] fadeomar opened #43 "CAT's"
__Further info__

there are three types of CAT's
  - large CTA
  - small CTA with to variations

__Wireframe link__
https://www.figma.com/file/vC6iqpWqeTJSPkM0Lswcfp/Shannon-Trust---Website?node-id=839%3A12035
_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS

[2021-11-18 12:52] fadeomar opened #44 "who we work with Section"
__Related issue(s)__
#39 must be done
#7

__Wireframe link__
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=605%3A12881

link on wireframe: https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=458%3A13329

_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK O

[2021-11-18 12:55] fadeomar opened #45 "Welcome to CMT Section"
__Related issue(s)__
#36 must be done
#7

__Wireframe link__
https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=605%3A12881

link on wireframe: https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=78%3A94

_Add link to design here_

---

### Acceptance Criteria:

_REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF A

[2021-11-19 10:40] thejoefriel commented on #35
OK, and will CMT be able to add more locations if they want @bethanyios ?

[2021-11-19 10:49] bethanyios commented on #35
@thejoefriel I think they should be able to through CMS (its simple data - type and city).  @fadeomar can confirm but I think this is the case.

[2021-11-19 10:50] bethanyios commented on #19
@thejoefriel keeping it simple for now as a link to their justgiving page and may embed something new later down the line as a future project.

[2021-11-19 11:44] thejoefriel commented on #30
Have spoken to Katie and we're going to have image as an option but fall back to graphic if not uploaded

[2021-11-19 11:53] thejoefriel commented on #16
**BONUS**
Ideally CMT would love for the partners to be a carousel/sliding type element so it's always only three on show - can we see if we can make this possible vs stack please?
- [ ] User can't change it, but it would just autoscroll along

[2021-11-30 09:27] #45 closed

[2021-11-30 09:28] #44 closed

[2021-11-30 09:28] #43 closed

[2021-11-30 09:28] #42 closed

[2021-11-30 09:28] #41 closed

[2021-11-30 09:28] #40 closed

[2021-11-30 09:29] #39 closed

[2021-11-30 09:29] #38 closed

[2021-11-30 09:29] #36 closed

[2021-11-30 09:29] #33 closed

[2021-11-30 09:29] #32 closed

[2021-11-30 09:30] #14 closed

[2021-11-30 09:30] #13 closed

[2021-11-30 09:30] #9 closed

[2021-11-30 09:30] #6 closed

[2021-11-30 09:31] #7 closed

[2021-11-30 09:31] #4 closed

[2021-11-30 09:31] #3 closed

[2021-11-30 09:48] fadeomar commented on #21
for Category, we had to split the insights to four cms (events,  stories, and news, researches  , impacts)

[2021-11-30 11:32] #21 closed

[2021-11-30 13:01] #16 closed

[2021-11-30 13:01] fadeomar opened #46 "Sign up to newsletter functionality"
After further investigation, unfortunately Mailchimp does not provide the functionality for you to directly add tags with a custom form submission. We have worked out though that you can create a new column and then store a value there. So this means we have 3 potential options for you to choose:

- send data directly from Webflow directly to Mailchimp without Tags

- send data directly from Webfl

[2021-11-30 22:07] #25 closed

[2021-12-01 14:29] fadeomar commented on #26
we agreed me and @bethanyios that these pages are static

[2021-12-01 14:29] #26 closed

[2021-12-01 14:33] #24 closed

[2021-12-01 14:34] #17 closed

[2021-12-01 14:34] #23 closed

[2021-12-02 11:02] #27 closed

[2021-12-02 11:02] #28 closed

[2021-12-02 11:58] #30 closed

[2021-12-02 12:49] fadeomar commented on #31
I think it's the same issue with image on issue #30, as beth replay to keep the graph https://github.com/yalla-coop/chiltern-website/issues/30#issuecomment-971494283

[2021-12-02 13:15] #31 closed

[2021-12-02 13:16] fadeomar commented on #15
I've linked the about us button to about as page for now

[2021-12-02 13:17] #15 closed

[2021-12-02 13:32] #8 closed

[2021-12-02 14:02] #20 closed

[2021-12-02 14:04] fadeomar commented on #19
hey @bethanyios, can you please provide the donation links?

[2021-12-03 08:58] thejoefriel commented on #22
Hey @fadeomar I've updated this issue now to focus on Automate first please. Let me know if any issues. I played around with Automate and it seems fundamentally the same flow as Zapier so should be ok :)

[2021-12-06 08:44] #5 closed

[2021-12-06 09:36] thejoefriel commented on #19
Hey @bethanyios just a reminder for when you're back that we need the Donate links please

[2021-12-06 14:12] thejoefriel opened #47 "Make a referral"
**Further info**
Includes form creation and submission to Salesforce via Zapier

**Update**
Rather than Zapier we're going to see if we can get it working with Automate.io instead

### Acceptance Criteria:
 _REMEMBER THAT WHOEVER WORKS ON THIS ISSUE MUST TICK OFF ALL THE POINTS IN THIS LIST UNLESS THERE IS CLEAR AGREEMENT IN THE COMMENTS TO SAY OTHERWISE. **DO NOT REVIEW A PR INVOLVING THIS ISSUE

[2021-12-06 15:14] #37 closed

[2021-12-07 09:39] #18 closed

[2021-12-07 14:41] thejoefriel commented on #22
@fadeomar here's the dropdowns:

**Specialisms:**
Early Years
Autism
Learning Disabilities
Dementia and Alzheimer's
Mental Health
Brain Injury and neuro-disability
Life-limiting conditions
Emotional and Behavioural difficulties

**Are your interested in**
Referral
Service request
Other

**Enquiring for**
Individual
School
Carehome
Hospital
Other

[2021-12-07 14:49] thejoefriel commented on #47
**Dropdown options**

**Is this a new referral or a referral which is part of an existing service?**
new referral
existing service

**Where will the sessions take place?**
- at home
- at school
- other

[2021-12-08 08:13] #12 closed

[2021-12-08 08:15] fadeomar commented on #11
- [ ] the donation links, the donation page are done but waiting for donation links to put them on the page. issue related #19

[2021-12-08 08:16] fadeomar commented on #19
hey @thejoefriel @bethanyios I've added a comment for required links on issue #11

[2021-12-08 08:17] #19 closed

[2021-12-08 08:17] fadeomar opened #48 "insure responsiveness and connect the pages"

[2021-12-08 08:30] fadeomar commented on #34
as we agreed, to direct the user to the new page for the clicking policies item

[2021-12-08 09:25] #34 closed

[2021-12-08 17:40] thejoefriel opened #49 "User Acceptance Testing 🐛"
This issue is to cover the process for Bug Testing for the latest earn sprint.

**What is bug testing?**
Bug testing is a very important phase to ensure the app is working as discussed and to test all the various flows to ensure any potential problems can be fixed before final deployment.

**The process**
This is an outline on how to carry out bug testing
https://www.notion.so/yallacooperative/Bug

[2021-12-09 10:21] thejoefriel commented on #11
Here you go @fadeomar

- Regular giving; https://localgiving.org/donation/chilternmusictherapy/monthly?amount=10.00
- One off: https://localgiving.org/donation/chilternmusictherapy?amount=20.00

Also the buttons with the amounts at the bottom are these links:
- £20L https://localgiving.org/donation/chilternmusictherapy?amount=20.00
- £80: https://localgiving.org/donation/chilternmusictherapy?amoun

[2021-12-09 12:41] #48 closed

[2021-12-12 09:26] thejoefriel commented on #47
Hey @fadeomar Tim has kindly offered to set up the Zapier for the referral himself since there's a bit of extra logic there. So all you need to do please is:

- [ ] Update form to add new fields (have updated this in Figma for you)
- [ ] Add here as a comment a link to a Google Sheets that lists all the Webflow field names

[2021-12-12 16:07] fadeomar commented on #47
![Human Story](https://user-images.githubusercontent.com/39485495/145719739-2b4a4e14-cdc7-487b-b687-3cd0ad3fb0da.png)

[2021-12-12 16:21] fadeomar commented on #22
![Make an enquiry](https://user-images.githubusercontent.com/39485495/145720323-b4a51fc9-1da8-48c3-b5f2-ed7f86784b7b.png)

[2021-12-14 13:51] TimShirra commented on #47
@fadeomar @thejoefriel Looks like I'm making some progress now in Zapier, getting more used to its not-so-user-friendly interface ...!

[2021-12-14 15:13] TimShirra commented on #47
Hi @fadeomar @thejoefriel - hitting some issues in Zapier objecting to no data for last name - possibly due to no test data - please see screenshot ( ![image](https://user-images.githubusercontent.com/79597116/146024691-9f74bd74-cf44-48ca-85e1-a47827468ef3.png)

What's the process for creating test data so that it goes through to Zapier?

I just tried submitting a set of test values from the webfo

[2021-12-14 16:24] TimShirra commented on #47
Ignore this, gents, - I hadn't activated the 'Zap' in Zapier - now I have activated it I can push test data through to it, thanks. @

[2021-12-14 18:22] TimShirra commented on #47
OK, think I'm fnally making some good progress in Zapier. Have managed a 10-step conditional flow for people who self-refer where there is no matching contact in SF. It creates a Contact, then uses the contact id to create a Service, using the contact ID for the person's name. Finally it dumps all the web form data, for safety, into a Google sheet too.

I'm now fairly confident I can do mutually e

[2021-12-15 10:49] #11 closed

[2021-12-15 11:54] fadeomar commented on #2
add Eventbrite custom code to training event page: https://www.loom.com/share/af4b24d212f046ac923051ddc1ff44f0

[2021-12-15 12:22] thejoefriel opened #50 "Final Settings for Deployment"
- [x] Remove 'Powered by Webflow' from settings
- [x] Make sure SEO metadata has been set up
- [x] Add favicon to the website
- [x] Disable Webflow subdomain indexing (so Google doesn't search index the staged domain we already created) under SEO

[2021-12-15 12:30] thejoefriel opened #51 "Set up cookie management"
**Things we need from client**
- [x] Set up Cookiebot account and add the log in details to #1

[2021-12-15 14:32] thejoefriel commented on #10
Hi @fadeomar so just to confirm what I understood Katie saying (sorry this I think maybe it was discussed with @bethanyios / @jema28 and have been missed in the acceptance criteria):

- If they sign up in this section on get involved page then add the training tag
![image](https://user-images.githubusercontent.com/19708921/146204960-297f7306-d192-4e83-a396-37d45f07594b.png)

- If they sign up in t

[2021-12-16 11:03] thejoefriel opened #52 "Change Consent checkboxes to optional"
We don't need the user to click all four of them. Simply make optional.

[2021-12-16 11:11] thejoefriel commented on #46
Redundant issue as duplicate of stuff covered in #10

[2021-12-16 11:12] fadeomar commented on #10
hey @katieshuster,
after further investigation, unfortunately Mailchimp does not provide the functionality for you to directly add tags with a custom form submission. We have worked out though that you can create a new column and then store a value there. So this means we have 3 potential options for you to choose:

- send data directly from Webflow directly to Mailchimp without Tags

- send data

[2021-12-16 13:12] katieshuster commented on #10
Hi Fadi, thanks for looking into this. Can I just check - would it make any difference if we upgraded Mailchimp and people were added to different lists?

[2021-12-16 13:44] fadeomar commented on #10
hey @katieshuster , upgrading Mailchimp will  make difference  the issue with sending data to Mailchimp, any one of options will not make a different on the existing contacts

[2021-12-16 13:52] katieshuster commented on #10
Sorry @fadeomar what I meant was can we link the three different newsletter forms to three different 'audiences' in Mailchimp? So the form on the training page would go to one audience and the form on the homepage would go to a separate audience. And then you wouldn't have to worry about tags?

[2021-12-16 16:36] fadeomar commented on #10
hey @katieshuster, that's possible, then we need to contact every form with there audience, but comparing with Zapier option above this might be cheaper than upgrade Mailchimp from standard plan to premium plan.
because you are hitting the limits of audience number on standard plan and you can see the yellow notification on standard plan

![image](https://user-images.githubusercontent.com/39485495

[2021-12-16 16:48] katieshuster commented on #10
If you think Zapier is the better option then let's go with that. I will be upgrading from free to 'essentials' in the new year anyway for other reasons so I don't know if that makes a difference. I am off work tomorrow until Tuesday so happy for you to choose which option works best. THanks @fadeomar

[2021-12-18 14:18] fadeomar commented on #10
hey @katieshuster, all good so far I've connected Webflow with Mailchimp using Zapier and it will create contacts with their tag now
![image](https://user-images.githubusercontent.com/39485495/146644229-a3f420cb-367e-4d88-b7e8-bcff00dab9ae.png)

[2021-12-21 09:29] katieshuster commented on #10
Hi Fadi, that's great, thank you. We just need to add the 'fundraising' tag then we're all good!

[2021-12-23 11:33] thejoefriel opened #53 "Work on Bug Fixing"
We have now received the majority of bugs from the Chiltern team for us to start working on.

**Process**
- Pick one or more bugs from the reporting spreadsheet -> Link to spreadsheet in this issue #49
- When fixed and re-deployed, tick "Yalla says fixed"
- If "not clear what to do" / "it can't be done" / "you consider it backlog (not a bug)" and would take time to sort / "it's not actually a bug"

[2021-12-23 12:27] fadeomar commented on #10
hey @katieshuster, all setup now and you can test it
![image](https://user-images.githubusercontent.com/39485495/147240447-b73a6043-631c-4179-b315-7b5a399ccd3f.png)

 **but** before that you need to make sure on Zapier that the Zap responsible to connect Webflow with MailChimp is on,
![image](https://user-images.githubusercontent.com/39485495/147240323-0ebcbd9b-6b95-427f-966b-22dafa2f0280.png)

 I

[2022-01-03 15:27] fadeomar commented on #53
hey @thejoefriel @katieshuster,
total number of bugs where you left a comment are :
  - backlog: 4 bugs [ 7, 10, 11, 14].
  - not clear what to do: 2 bugs [19, 35].
  - would take time to sort / "it's not actually a bug”: 1 bug [45 ].

and the total fixed bugs is 47.

[2022-01-04 09:24] thejoefriel commented on #53
Thanks @fadeomar ! 👍

@katieshuster do you mind working through all the ones we've said fixed (it will be ticked under Yalla says fixed).

- If you agree they are fixed then please tick the checkbox under "Client agrees fixed".
- If you don't agree they are fixed or have any comments, then please add a comment by clicking the "open" button (when you hover over the Bug number column) and adding you

[2022-01-05 18:01] #46 closed

[2022-01-05 18:02] #10 closed

[2022-01-05 18:03] thejoefriel commented on #35
@fadeomar is this complete? If yes can you close, otherwise can you message Katie with what you need to complete this

[2022-01-05 21:09] #35 closed

[2022-01-05 21:09] #22 closed

[2022-01-06 15:38] katieshuster commented on #53
@thejoefriel @fadeomar I have been through them all except for the iPad ones as I need to borrow the iPad off my partner this evening. I have added a few comments to the ones I haven't ticked, hopefully it all makes sense.

[2022-01-08 11:47] thejoefriel commented on #53
Hi @katieshuster thanks for that! @fadeomar can you pick up on the outstanding ones tomorrow please?

@katieshuster are the ones that are unticked but without comments then ones you need to check on iPad? Do you think you will have tested them prior to Sunday? If not then @fadeomar I'd suggest you wait until Monday and you can work through all remaining ones then.

[2022-01-10 12:08] katieshuster commented on #53
Hi @thejoefriel so sorry I haven't had a chance to test on the iPad - I will endeavour to do that this evening.

[2022-01-10 14:16] thejoefriel commented on #53
No worries @katieshuster , give us a shout this evening once you've gone through.

@fadeomar can you allocate time to then work through them all either Tuesday afternoon or Wednesday morning please? Thanks!

[2022-01-11 09:40] katieshuster commented on #53
I have gone through all the changes now on all devices and added some more comments @thejoefriel @fadeomar

[2022-01-11 10:31] thejoefriel commented on #53
Thanks @katieshuster

@fadeomar I know you're on another project today. Is this something you can work on tomorrow please?

[2022-01-11 10:45] thejoefriel commented on #53
Hey @fadeomar as a quick update, I've gone through the bugs left in the form and apart from 55, I think the rest are clear. I've unticked the ones which Katie says are still not fixed. Please when you work on them refer to the comments she has left (if you open the row you can see the comments).

I'm looking to catch up with Katie/Tim on 55 today and then will clarify this one for you.

[2022-01-11 12:24] thejoefriel opened #54 "Set up deployment"
This is to track the progress in getting the site live.

**Actions:**
- [ ] @TimShirra @katieshuster to set up new hosting provider (e.g. GoDaddy, GreenGeeks)
- [ ] @TimShirra @katieshuster to get SpectraKey to transfer domains over to your new hosting provider
**Once this is done**
- [ ] @TimShirra and @fadeomar to arrange a time for a call to update the DNS to point to at Webflow

**Recommended

[2022-01-11 12:25] thejoefriel commented on #53
Hi @fadeomar , one final update - notion 55 has been clarified and I've provided the actions in the comments on that item. So all set for you to work on this when you're ready. Please:

- Let us know when you plan to work on it by adding a comment here
- Once you're finished and it's ready for review again, please add another comment here

[2022-01-11 13:55] TimShirra commented on #54
@thejoefriel @katieshuster : just for my understanding - are we seeking this new provider as a a) hoster for just the web-domain registration, or as a host for that PLUS the actual website and all its assets? (which implicitly I'd assumed, and I know I should never do that,  was with Webflow's hosting?

[2022-01-12 13:59] thejoefriel commented on #54
Hi @TimShirra my understanding is A and then we just update the DNS to point to webflow where we will actually be hosting everything

[2022-01-13 11:16] TimShirra commented on #54
Thanks @thejoefriel, I thought it was a) but just wanted to double-check!!

[2022-01-16 15:09] fadeomar commented on #53
hey @thejoefriel I've fixed the changes for the points that you mentioned above, hey @katieshuster can you check please

[2022-01-16 16:12] jema28 opened #55 "Set up google analytics once site goes live"
- [x] Wait for Katie to add us to her google analytics
- [x] Set up analytics - @fadeomar can you sort this when we go live? Ramy sorted it for ST if you have any questions

Helpful links:
https://www.youtube.com/watch?v=RdVOqJNco1E&t=307s
https://university.webflow.com/lesson/set-up-google-analytics

Documentation: [Adding a user to google analytics](https://yallacooperative.notion.site/Adding-a-

[2022-01-17 13:55] thejoefriel commented on #53
Thanks @fadeomar !

@katieshuster if you can go through one more time please. Then I'd suggest we can set up a call to go through any further outstanding issues?

[2022-01-17 16:19] jema28 commented on #55
Hey @fadeomar could you double check this? Katie says she's already added us.
<img width="1146" alt="Screenshot 2022-01-17 at 16 17 34" src="https://user-images.githubusercontent.com/25960351/149805178-28d43381-436c-4e9c-b738-8bcb4c75e6a5.png">

[2022-01-18 11:25] thejoefriel commented on #54
Hey @TimShirra just wanted to check in and see how this is going?

[2022-01-19 12:49] TimShirra commented on #54
Hi Joe - Katie and I are meeting about this on Friday 👍

[2022-01-19 16:42] katieshuster commented on #53
@thejoefriel I've been through them all and think all that is left is the backlog items

[2022-01-24 09:49] TimShirra commented on #54
@thejoefriel , @katieshuster: regarding the domain transfer, in helping us decide whether A) stay with our existing supplier and ask them to repoint the domain when ready or B) transfer the domain so it is under CMT's direct control, we need to confirm that, under the new hosting arrangement with Webflow, we can securely place an html file within CMT's files, under password protection. This a sign

[2022-01-24 10:46] thejoefriel commented on #55
Hey @jema28 is this done now and can be closed?

[2022-01-24 10:47] thejoefriel commented on #54
Hi @TimShirra sure thing, please send us the file and we will have a look. Can you email it to me and @fadeomar please? @fadeomar this will be something for you to look into today/tomorrow please 🙏

[2022-01-24 10:48] thejoefriel commented on #53
🎉 Amazing! Thanks @katieshuster . So I think all we have left is content and deployment. I'm sure some issues might come up via the questions, so will wait for you to send those then will look through with @fadeomar . In the meantime though I'll close this issue

[2022-01-24 10:48] #52 closed

[2022-01-24 10:48] thejoefriel commented on #51
Hey @fadeomar has this been done?

[2022-01-24 10:52] #50 closed

[2022-01-24 10:52] thejoefriel commented on #47
Hey @TimShirra @fadeomar can this issue be closed now?

[2022-01-24 10:53] #49 closed

[2022-01-24 11:00] thejoefriel opened #56 "Webflow Questions"
Hi @katieshuster @fadeomar @jema28 here is where we are storing questions from CMT on how to use Webflow. Rather than us having a meeting, I thought it might be simpler (and also help for future webflow projects) to just add answers to the questions and create a FAQ.

I've added in questions that came up on other projects to help, although let me know with a comment here @katieshuster if you want

[2022-01-24 11:11] katieshuster commented on #56
@thejoefriel @jema28 @fadeomar  I have added in my questions from last week. Will be doing some more work on this, later today

[2022-01-24 13:38] katieshuster commented on #51
@thejoefriel this is done

[2022-01-24 13:58] jema28 commented on #55
Is the site live now @fadeomar? I think this should be kept open until the custom domain has been sorted and it's live/double check the google analytics are working @thejoefriel

[2022-01-25 09:13] thejoefriel commented on #55
Site isn't live yet, so happy to keep open and then check once live. @fadeomar can you make sure you keep a note to do that at the point we do deployment. Thanks!

[2022-01-25 09:14] thejoefriel commented on #51
Thanks @katieshuster ! @fadeomar can you sort this today please and then comment on here once done? Thanks!

[2022-01-25 14:52] fadeomar commented on #56
all question for now are answered and fixed the bugs https://www.notion.so/yallacooperative/Webflow-FAQ-b02fb9c18d5748b9b083f7550ac7da93

[2022-01-25 15:38] thejoefriel commented on #56
Hey @katieshuster just @'ing you so you can see Fadi's mention above that the Questions you've posted all now answers.

Let me and @fadeomar know if anything is unclear.

[2022-02-08 10:37] thejoefriel opened #57 "Product Roadmap"
This is where you can store ideas for future things to add to the website

https://www.notion.so/yallacooperative/Chiltern-Music-Therapy-Website-Shared-Workspace-a79321404816453db36c72079b55098a

[2022-02-08 10:38] thejoefriel opened #58 "Warranty - Raising Bugs/Issues Process"
### How issues should be raised:

**Chiltern Music Therapy responsibilities**
- [ ] Create a Bug Report issue in Github using the template
- [ ] Please provide us much detail as you can
- [ ] If urgent (i.e. website has gone down) then also please email sla@yallacooperative.com

**Yalla Responsibilities**
Once an issue is raised in repository we will:
- [ ] Respond to you, letting you know that we

[2022-02-08 10:41] #47 closed

[2022-02-09 11:34] fadeomar commented on #55
done 👍

[2022-02-09 11:39] fadeomar commented on #51
done 👍

[2022-02-25 14:15] katieshuster opened #59 "Training events request"
**Is your feature / client request related to a problem? Please describe.**
The training events on the 'Get Involved' page (https://www.chilternmusictherapy.co.uk/get-involved) currently appear in the order they are published not the order of when the events are happening.

**Describe the solution you'd like**
I would like the events to be ordered by date with the ones with the nearest date at the

[2022-02-25 14:17] katieshuster opened #60 "Training events archive"
**Is your feature / client request related to a problem? Please describe.**
It would be great if we could add in a field to say when the event can be archived so we don't have to do it manually and remember to remove an event after it's happened https://www.chilternmusictherapy.co.uk/get-involved

**Describe the solution you'd like**
A field that we can add with the date that the event can be arch

[2022-03-01 12:20] fadeomar commented on #59
hey @katieshuster this is fixed now, please chick
![image](https://user-images.githubusercontent.com/39485495/156167915-f29c6c33-f723-4bd5-b1ca-314c26668479.png)
cc @yalla-coop-sla @cyberteenie

[2022-03-01 12:41] fadeomar commented on #60
hey @katieshuster unfortunately Webflow doesn't allow to change the CMS Items status form published to archive or the opposite, like there is no way to do that except clicking archive button, but what I understand form the issue that you want to hide the events that expiry their date, not remove them but hide them from the page, so we can add **Filter** will allow items with an valid date to appea

[2022-03-01 14:41] cyberteenie commented on #59
@katieshuster - once you have checked that this is working as desired, please feel free to close this issue, by clicking the button below this thread. Thanks!

[2022-03-08 13:38] #59 closed

[2022-03-08 13:47] katieshuster commented on #60
Hi @fadeomar I think that would be a good solution. Thank you.

[2022-03-11 14:27] katieshuster opened #61 "Google map not working"
**Describe the bug**
The google map has stopped working on the website. I received an email saying that our trial with google cloud had expired and I have now adding in billing details but the map still doesn't seem to be working. Is there anything else I need to do to re-instate the map?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://www.chilternmusictherapy.co.uk/map-of-ser

[2022-03-13 12:56] fadeomar commented on #61
hey @katieshuster after looking to the issue, it's not related to the Webflow but its related to the google map account and there are manly two reasons for this :
number one :
you may signed up for a trial account, but haven't converted it to a paid account.

number two :
you may haven't linked billing account to the project yet.

**to convert your account from trial account to paid account :**
yo

[2022-03-13 13:09] fadeomar commented on #60
hey @katieshuster the solution has been applied.
**how to test**
you can create a test event with date on the past and test if it will appear on the page or not.
 the expected behavior is not showing events with expire dates

[2022-03-14 13:45] katieshuster commented on #60
Thanks @fadeomar

[2022-03-14 13:45] #60 closed

[2022-03-15 12:34] katieshuster commented on #61
Thanks @fadeomar I had linked the billing but not activated it. It's working now.

[2022-03-30 13:01] #55 closed

[2022-04-05 08:58] katieshuster opened #62 "Update to about us page"
**Is your feature / client request related to a problem? Please describe.**
We have made changes to our structure and would like to show our structure differently as it could continually change.

**Describe the solution you'd like**
We would like to replace the graphic (![Screenshot 2022-04-05 095603](https://user-images.githubusercontent.com/89024047/161718077-7d3e0bbd-63af-492f-9b58-f310c6dd60fe

[2022-04-05 09:01] katieshuster opened #63 "Changes to our team page"
**Is your feature / client request related to a problem? Please describe.**
We have added a new circle to our structure and also we have changed the name of one of our circles.

**Describe the solution you'd like**
Could we add another circle to the graphic which is called 'Culture' and could we change the name 'Outer' to 'Anchor'

**Describe alternatives you've considered**
n/a

**Additional cont

[2022-04-05 09:47] katieshuster opened #64 "Our team page"
**Is your feature / client request related to a problem? Please describe.**
In order to get to the 'our team' page you need to scroll down quite far on the 'about us' page and you have to know that it's there. It's quite a popular page for us as people like to look up the therapist before they commit to sessions.

**Describe the solution you'd like**
Would it be possible to add a sub-menu to 'abou

[2022-04-08 12:44] katieshuster opened #65 "Training url"
**Is your feature / client request related to a problem? Please describe.**
When sharing the link to the training events it currently looks like this: https://www.chilternmusictherapy.co.uk/get-involved but for marketing it would be great to have a training specific URL.

**Describe the solution you'd like**
A URL that is https://www.chilternmusictherapy.co.uk/training, which takes you to the page

[2022-04-08 12:48] katieshuster opened #66 "Add video/images to news posts"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.
We currently can't add any videos or images to the news articles on the website: https://www.chilternmusictherapy.co.uk/stories/autism-acceptance

**Describe the solution you'd like**
To have the option to add videos and or photos (sometimes multiple) to the page.

**

[2022-04-13 15:12] fadeomar commented on #62
hey @katieshuster
Time Estimate
1.5 - 2.5 hr

Anything needed (e.g. info from client, wireframes)
the embed like for the map
  - please make sure to share the link un protected with password (public)

Anything already provided

[2022-04-13 20:48] fadeomar commented on #66
for the video issue in this particular story, there wasn't a video link to this story:
![image](https://user-images.githubusercontent.com/39485495/163266994-590e41a9-2cd5-4a15-b4dd-446a31efaebe.png)

I've added the video link in the home page for the story and test it, and it works fine please chick again
![image](https://user-images.githubusercontent.com/39485495/163267306-ad9a1841-b7e8-4ff4-8e97

[2022-04-13 21:30] fadeomar commented on #65
hey @katieshuster what we have done for referral page is making unexcited path redirect to existing path
to describe this
thire is existing page with url  [https://www.chilternmusictherapy.co.uk/make-a-referral](https://www.chilternmusictherapy.co.uk/make-a-referral) but thire isn't page existing with url  [https://www.chilternmusictherapy.co.uk/referral](https://www.chilternmusictherapy.co.uk/ref

[2022-04-18 14:39] cyberteenie commented on #65
@katieshuster just wanted to check in that you are happy with this solution? If so, please feel free to close this issue using the button below! Thank you.

[2022-04-18 14:40] cyberteenie commented on #66
Hi @katieshuster - did this work for you? If so, please close this thread. Thank you.

[2022-04-18 14:42] cyberteenie commented on #63
@katieshuster, if you are happy to move forward on this task given the time estimate Fade has provided, please let us know in the comments below and we will move forward on working on this. Thanks!

[2022-04-18 14:43] cyberteenie commented on #62
@katieshuster - if you would like to move forward on this, please share the public link for the map and confirm that you would like us to move forward with this task. Thank you!

[2022-04-19 13:18] thejoefriel commented on #64
Hey @katieshuster for this one, we might need to also put in some time to mock up a new design. I'd suggest c. 1-2 hours on that and then further time for development. So probably 4-5 hours as a very rough estimate!

Would you like us to use surplus time on this? Would you be able to add priority labels (e.g. priority-2) to the issues you've created please? We can then work out the best order to t

[2022-04-26 12:41] #65 closed

[2022-04-26 12:55] #66 closed

[2022-04-26 12:57] katieshuster commented on #63
Hi there, please can we go ahead with this but perhaps after issue #64? @cyberteenie @fadeomar

[2022-04-26 12:58] katieshuster commented on #64
Hi there, please can we go ahead with this as a priority over the other issues please? And yes if we can use surplus time that would be great, thanks! @thejoefriel @cyberteenie

[2022-05-05 14:03] jema28 commented on #64
Hey @fadeomar, here are the details and links for this task:

- [ ] Add Our Team dropdown to About Chiltern
- [ ] Redesign mobile menu including Our Team (follow mobile and tablet views designs)

Figma link: https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=1402%3A20852.

[2022-05-05 14:05] jema28 opened #67 "Improve search page style on mobile"
@fadeomar and @jema28 to discuss style on search page on mobile. Reference:

![image](https://user-images.githubusercontent.com/25960351/166940800-0df78475-151b-4641-9790-f6efefd45890.png)

Would it be easiest if I mock this up for you @fadeomar and then review when you've completed in webflow?

[2022-05-10 11:33] katieshuster opened #68 "Add link to privacy policy in website footer"
**Is your feature / client request related to a problem? Please describe.**
I have been asked by our Complianc Lead to add a link to our [privacy policy ](https://www.chilternmusictherapy.co.uk/policies/privacy) in the footer of our website

**Describe the solution you'd like**
A link to our privacy policy in the footer of the website.

**Describe alternatives you've considered**
N/A

**Additional

[2022-05-12 14:59] cyberteenie commented on #68
@katieshuster - noted! Will let the team know. Thanks!

[2022-05-12 15:00] cyberteenie commented on #63
@katieshuster - will do!

[2022-05-12 15:00] cyberteenie commented on #62
@katieshuster - thanks Katie! I will pass this along.

[2022-05-16 11:13] cyberteenie commented on #51
Hey @katieshuster - can you please confirm that this is working from your side? If so, please close this issue. Thank you!

[2022-05-16 11:21] #51 closed

[2022-05-17 10:19] fadeomar commented on #68
hey @katieshuster this is done and can be tested :)

[2022-05-17 12:26] fadeomar commented on #63
hey @katieshuster I've added the new circle and now you can test it and add new members to that category, but like other categories still need description for Culture Circle

[2022-05-17 15:08] #68 closed

[2022-05-18 15:01] katieshuster opened #69 "Referral form bugs"
**Please select the priority level by adding one of the following labels to this issue**
- Priority-1 (Critical e.g. the website is down, multiple users unable to log into platform)
- Priority-2 (Important e.g. Staff cannot access correct information or data / Users cannot add a spend activity)
- Priority-3 (Normal e.g. Text is missing / duplicate values being shown)
- Priority-4 (Low e.g. Content

[2022-05-18 15:05] katieshuster opened #70 "Referral form-zapier bug"
**Please select the priority level by adding one of the following labels to this issue**
- Priority-1 (Critical e.g. the website is down, multiple users unable to log into platform)
- Priority-2 (Important e.g. Staff cannot access correct information or data / Users cannot add a spend activity)
- Priority-3 (Normal e.g. Text is missing / duplicate values being shown)
- Priority-4 (Low e.g. Content

[2022-05-18 15:10] fadeomar commented on #62
hey @katieshuster I've added the graph to the website and updated about us page, and I have tried to hide the controls, but after search found out there is no way to hide the settings without updating the original map, I can do that but I need access to your Kumu account to setup the map before shearing it
and to confirm, there is three controls on the map:
  1- search bar
  2- settings button
  3

[2022-05-18 15:24] katieshuster commented on #62
Hi @fadeomar , no problem, I can add you on -what email shall I use? I think people should still be able to zoom, so maybe just hide 1 and 2 please?

[2022-05-18 15:51] fadeomar commented on #62
sure @katieshuster, here is my email [fadi@yallacooperative.com](mailto:fadi@yallacooperative.com)

[2022-05-18 17:11] katieshuster commented on #62
@fadeomar you should now have access to the Kumu but let me know if not.

[2022-05-19 09:07] cyberteenie commented on #69
@katieshuster - Thanks Katie! We will look into this for you.

[2022-05-19 09:08] cyberteenie commented on #70
@katieshuster will pass this on to the dev team!

[2022-05-19 09:13] cyberteenie commented on #63
@katieshuster - just wanted to bump this and let you know that we still need the description for Culture Circle for Fadi to finish this issue. Thanks!

[2022-05-19 09:22] katieshuster commented on #63
Sorry yes the description is: The Culture Circle exists to cultivate and develop the theory and practice of Chiltern's culture in all spheres: organisational, therapeutic, interpersonal, internal and external.

[2022-05-19 10:14] fadeomar commented on #62
hey @katieshuster this is done now, you can test again and if you happy, you can close the issue :)

[2022-05-19 10:22] fadeomar commented on #63
hey @katieshuster, this is done and you can test again and if you happy you can close the issue :)

[2022-05-19 13:43] fadeomar commented on #70
hey @cyberteenie and @katieshuster this is done and can be tested :)

[2022-05-19 13:44] fadeomar commented on #70
I'm adding here the code snippet for reference
[code]

[2022-05-19 13:47] katieshuster commented on #62
This is great, thanks @fadeomar

[2022-05-19 13:47] #62 closed

[2022-05-19 13:49] #69 closed

[2022-05-19 13:50] katieshuster commented on #70
Thanks @fadeomar is is possible for them to not have to submit a phone AND email but a phone AND/OR an email please?

[2022-05-19 19:59] fadeomar commented on #70
hey @katieshuster yeah sure, I've update the validation function you can test now 👍

[2022-05-20 07:40] katieshuster commented on #70
Hi @fadeomar sorry when I tested it, I tried to submit it without a telephone or email and it let me - we need people to add at least one if possible please? Thanks

[2022-05-20 12:04] cyberteenie commented on #54
@thejoefriel - just wanted to check in. Can this issue be now closed? Thanks!

[2022-05-21 16:47] fadeomar commented on #70
hey @katieshuster can you provide a loom for test submit so that I can identify the bug better?

[2022-05-24 08:15] cyberteenie commented on #56
@katieshuster - just going through and cleaning up old issues. Are you happy for this issue to now be closed? Thanks!

[2022-05-24 08:18] cyberteenie commented on #54
closing as this is now complete

[2022-05-25 08:24] katieshuster commented on #70
Sorry @fadeomar I just tested it again and it seems to be working. Happy to close this for now

[2022-05-25 08:24] #70 closed

[2022-05-25 15:28] katieshuster opened #71 "Add address to enquiry form"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.
We can't currently track the location of where our enquiries are coming from

**Describe the solution you'd like**
To add in fields to ask for people's address

**Describe alternatives you've considered**
NA

**Additional context**
I have attached a screenshot - I thi

[2022-05-27 13:03] katieshuster commented on #63
That's all working well, thank you.

[2022-05-27 13:03] #63 closed

[2022-05-29 13:16] fadeomar commented on #71
hey @katieshuster, I've done this and added the new fields to the enquiry from and make all the fields as required for now, let me know of you need to update any of the fields to be not required. now the next step is in your side to update the to update the salesforce to receive the new fields and here are the names of the new fields (House_Number_And_Street, City_Or_Town, County, Postcode)

[2022-05-31 10:35] katieshuster commented on #71
Thanks @fadeomar that's working well, thank you!

[2022-05-31 10:35] #71 closed

[2022-06-07 08:19] katieshuster opened #72 "Create county picklist"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.
We have problems when people shorten county names or miss-type them as it stops the zapier flow as it doesn't match with the salesforce picklist.

**Describe the solution you'd like**
To add a picklist for the county field on both the enquiry form and the referral for

[2022-06-08 13:40] fadeomar commented on #72
@katieshuster - Thanks Katie! We will look into this for you.

[2022-06-12 11:08] fadeomar commented on #72
hey @katieshuster this has been done and you can test :)

[2022-06-28 08:16] katieshuster commented on #72
Hi @fadeomar it's working well, thank you.

[2022-06-28 08:16] #72 closed

[2022-06-28 08:20] katieshuster opened #73 "Remove iPod Pharmacy from website"
**Is your feature / client request related to a problem? Please describe.**
We are no longer running the iPod Pharmacy so we would like to remove this from the website

**Describe the solution you'd like**
To remove the iPod Pharmacy box from this page: https://www.chilternmusictherapy.co.uk/support-us
![Screenshot 2022-06-28 091922](https://user-images.githubusercontent.com/89024047/176130351-fb3

[2022-06-28 08:28] katieshuster opened #74 "Job/volunteer opportunities"
**Please select the priority level by adding one of the following labels to this issue**
- Priority-1 (Critical e.g. the website is down, multiple users unable to log into platform)
- Priority-2 (Important e.g. Staff cannot access correct information or data / Users cannot add a spend activity)
- Priority-3 (Normal e.g. Text is missing / duplicate values being shown)
- Priority-4 (Low e.g. Content

[2022-06-28 15:27] yalla-coop-sla commented on #73
Hi Katie, let me speak to the dev team and see if this is something you can do from your end and get back to you. Thanks!

[2022-06-29 12:22] cyberteenie commented on #74
@katieshuster - thanks for flagging this! We will look into it and send you an update! thanks!

[2022-06-30 07:53] fadeomar commented on #74
hey @katieshuster, I've update (Get Involved:Job/volunteering) collection with new field (type), and there are two options for that
  1. job
  2. volunteering
 now when you create new item or update the exists items in  (Get Involved:Job/volunteering) collection you have to chose the type so that  job type will appear  the job vacancies tab and volunteering type  will appear in the volunteer oppor

[2022-06-30 10:20] katieshuster commented on #74
That's great, thanks @fadeomar!

[2022-06-30 10:20] #74 closed

[2022-07-03 08:08] fadeomar commented on #73
hey @katieshuster I've removed the section and for your question, yes you can do that your self but it's too risky because it's static element not CMS content, It may cause side problems in the style

[2022-07-03 15:31] cyberteenie commented on #73
@katieshuster - feel free to check that this is working from you end and close this issue!
After speaking to the development team, they warned me that moving forward, it is better for you to open issues on Github so that they can complete changes on their end. There is no history on Webflow, so if something goes wrong when you try to change it, it may take longer for them to have to fix it. Do let

[2022-07-11 14:51] katieshuster opened #75 "Updating consent on referral form"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.
We are having problems with some people not consenting to therapy on the referral form.

**Describe the solution you'd like**
We would like to make the consent questions compulsory/mandatory and also change them to 'yes/no' questions

**Describe alternatives you've co

[2022-07-12 08:13] cyberteenie commented on #75
Thanks @katieshuster - we will get this updated for you!

[2022-07-13 09:26] katieshuster commented on #73
Hi @fadeomar sorry I can still see part of the box on the support us page. Are you able to remove it completely please?
![Screenshot 2022-07-13 102420](https://user-images.githubusercontent.com/89024047/178700028-95b171f6-1d78-4419-a173-663e899ac833.png)

[2022-07-17 12:37] fadeomar commented on #73
hey @katieshuster it's ready for test again

[2022-07-17 12:56] fadeomar commented on #75
hey @katieshuster I've update the referral form with your request and it's ready for test

[2022-07-18 09:33] katieshuster commented on #73
Thanks @fadeomar that's great

[2022-07-18 09:33] #73 closed

[2022-07-18 09:48] katieshuster opened #76 "Move events tab"
**Is your feature / client request related to a problem? Please describe.**
It's not a problem but I think from a user perspective it doesn't really work.

**Describe the solution you'd like**
I would like to move the events tab from here: https://www.chilternmusictherapy.co.uk/insights to here is possible please: https://www.chilternmusictherapy.co.uk/get-involved as I think events are for people

[2022-07-18 18:25] cyberteenie commented on #76
Thanks @katieshuster . I will pass this off to the development team!

[2022-07-21 14:48] fadeomar commented on #75
hey @katieshuster I've updated the form you can test again

[2022-07-26 11:42] katieshuster commented on #75
That's all working now, thank you @fadeomar

[2022-07-26 11:42] #75 closed

[2022-08-04 09:31] katieshuster opened #77 "Ordering items on the website"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.
It's very difficult to order items on the website. We have the number system on the stories and news page, however when you add a new item you have to go in and change the number on all of the other news/stories which is very time consuming. We also don't have the opt

[2022-08-04 09:43] katieshuster opened #78 "Research tab changes"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.

1.  If we don't upload a report to download, the link to download a report still appears but obviously doesn't go anywhere
2. We can't show the research items in other areas of the site like the stories.
3. We have quite a few research items to add on and it would be

[2022-08-04 11:35] cyberteenie commented on #78
Thanks @katieshuster ! We will tackle this.

[2022-08-04 11:36] cyberteenie commented on #77
@katieshuster - I will pass this on to the dev team!

[2022-08-08 11:07] fadeomar commented on #76
hey @katieshuster I want to confirm the changes from you before start working on this because it can't be undone
here is what I get from the issue

1- remove events tap from insights page https://www.chilternmusictherapy.co.uk/insights
2- add events tap to get involved page https://www.chilternmusictherapy.co.uk/get-involved
3- combine the job and volunteer opportunities tab into one tap

are you

[2022-08-08 11:11] fadeomar commented on #77
sorry to here that, there are two alternatives for sorting other than that
  1- from newest to latest
  2- we can create priority field with three options (high, mid, low) and then the items will be sorted according to it's priority (high items first, then mid items and last the low items)
 what do you think @katieshuster ?

[2022-08-08 14:33] katieshuster commented on #76
Hi @fadeomar yes that sounds great thank you. Can the order of the tabs be:
1. Training
2. Careers (job and volunteers combined)
3. Events

[2022-08-10 09:59] katieshuster commented on #77
Hi @fadeomar for the news and stories page, please can we sort from newest to oldest and for the other two pages, please can we try the priority field? thank you

[2022-08-10 11:28] fadeomar commented on #77
hey @katieshuster
I've done the change on news and stories page.
but for priority options I've faced a blocker that the Webflow doesn't support sorting on any type except numbers and to solve that I've create a field type number and call it  **(priority)** and add helper text to it **(enter 1 for high priority, enter 2 for mid priority, enter 3 for low priority)**, so you can only add one of (1,2,

[2022-08-10 11:28] fadeomar commented on #76
hey @katieshuster this is done and can be tested

[2022-08-11 15:40] katieshuster commented on #76
That looks great thank you.

[2022-08-11 15:40] #76 closed

[2022-08-11 15:40] #77 closed

[2022-08-11 18:44] cyberteenie commented on #78
@katieshuster - @fadeomar has completed the first point, so that can be tested!

For the remaining points, I have put you in contact with @jema28 via email to organise a meeting so that we can be really clear about the requirements and the changes that this would mean to the site. Jem can then create a mock up before it goes into development. Hopefully, the two of you can find a time next week tha

[2022-08-12 07:44] katieshuster commented on #78
Thanks, we have tested the report link and that's great

[2022-08-22 09:43] cyberteenie commented on #78
Just documenting that Jem and Katie will be meeting on this issue this week.

[2022-08-23 09:21] jema28 commented on #78
Notes from call with Katie:

1. Point 3 isn't needed anymore
2. Point 2: we want to add research articles here if a story doesn't. exist https://www.chilternmusictherapy.co.uk/insights-tags/brain-injury-neuro-disability
3. Point 4: want to be able to add additional text and download report buttons e.g. Special school in X https://www.chilternmusictherapy.co.uk/insights-researchs/special-schools-im

[2022-08-23 09:27] jema28 commented on #78
@cyberteenie have scheduled a meeting with Fadi tomorrow to discuss the changes

[2022-08-23 11:59] cyberteenie commented on #78
@jema28 once you have had the meeting with Fadi, can you please open up two new issues for points 2 and 4 so that we can separate discussion of them? Thank you!!!

[2022-08-25 09:19] jema28 opened #79 "Add research article in Who we work pages if a story doesn't exist"
__Related issue(s)__
#78

- [x] @fadeomar to outline a possible solution/estimated amount of time and let me and Katie know

### User Acceptance Criteria:

- [x] Add research articles in Who we work pages if a story doesn't exist. Example page including story: https://www.chilternmusictherapy.co.uk/insights-tags/brain-injury-neuro-disability.

cc @cyberteenie

[2022-08-25 09:22] jema28 opened #80 "Ability to add additional text and download report buttons in research articles"
__Related issue(s)__
#78

- [x] @fadeomar to outline a possible solution/estimated amount of time and let me and Katie know

### User Acceptance Criteria:

- [x] Ability to add additional text and download report buttons in research article pages e.g. another Special school in X section in this page https://www.chilternmusictherapy.co.uk/insights-researchs/special-schools-impact

cc @cyberteenie

[2022-08-25 09:22] jema28 commented on #78
Sure thing, done @cyberteenie

[2022-08-25 09:33] cyberteenie commented on #80
Thanks Jem!

[2022-08-25 09:34] cyberteenie commented on #79
Great! Thank you!

[2022-08-25 09:35] cyberteenie commented on #78
Closing this thread as it has been replaced by #79 & #80

[2022-08-25 09:35] #78 closed

[2022-08-28 09:39] fadeomar commented on #79
hey @jema28 the estimation time on this is 2~2.5 hr

[2022-08-28 09:44] jema28 commented on #80
Hi @katieshuster, Fadi and I have discussed this and we can do this if we have a max number of sections, for example 3. We can add this in the CMS i.e. description 1 and link 1, description 2 and link 2 and description 3 and link 3. We would then add a condition to show the items when it has content.

Let us know if that works for you? Do you know how many max sections you would need?

[2022-08-30 07:57] jema28 commented on #79
Total time estimation for this issue and #80 in terms of design/admin/testing is 4 hours.

@fadeomar can you add your estimation in the issue #80 also? Thanks!

cc @cyberteenie

[2022-08-30 08:55] katieshuster commented on #80
Hi @jema28 that works for me. We think 3 sections should be enough. Could we make it so that it has photo 1, description 1 and link 1 please. As we may want to add photos for each section.

[2022-08-30 13:18] cyberteenie commented on #80
Thanks for letting us know @katieshuster - we will let you know if we have any other questions!

[2022-08-31 07:58] bethanyios opened #81 "Change "Get Involved" title to "Training""
**Describe the solution you'd like**

- [ ] Change the "Get Involved" page title to "Training" and move the careers tab out of this page to (see issue https://github.com/yalla-coop/chiltern-music-therapy/issues/418).
- [ ] Change in navbar too.

**Additional context**
Full list of changes for context can be found here https://docs.google.com/document/d/1tNeTV5Hm9qvZatG69QTrI0eGMOGY80PUo-4PWlKj3qE/

[2022-08-31 07:59] bethanyios opened #82 "Add tab in new "Training" page for "NEST programme" (replace Careers)"
**Describe the solution you'd like**
- [x] @jema28 to make a quick design of this new tab using the link above and providing new icons indicated
- [x] Create a new tab for the "NEST programme" using the same page structure will replace Careers.
- [x] All static using the content from https://docs.google.com/document/d/1IOEQ9WeCYIkf1OiBX2caTemJi9KwXEPAnyPziMBUVBY/edit
- [x]  Change events tab title

[2022-08-31 07:59] bethanyios opened #83 "Create a "Careers" page linked in the "About Chiltern" navbar dropdown"
**Describe the solution you'd like**
- [x] Use the same design as the careers tab currently found in "Get Involved" but link it from the navbar so it sits as its own page
- [x] Use the same header image as the About Chiltern page (we can get a new image from them if they need)

URL https://www.chilternmusictherapy.co.uk/about-us

**Additional context**
Full list of changes for context can be found

[2022-08-31 08:09] bethanyios opened #84 "Rearrange the "Support Us" page"
**Describe the solution you'd like**
- [x] Keeping the same content but rearranging the order of sections + a new banner link

1. Restructure "Ways to Support Us section"
- Make a Donation
- Leave a Legacy
- Fundraise for us
- Volunteer with us
2. Add a Why Support Us? Section for the link to the impact page (see issue https://github.com/yalla-coop/chiltern-website/issues/85)
3. Follow this with O

[2022-08-31 08:09] bethanyios opened #85 "Make banner for "Why Support Us" linking to the impact page (previously Insights)"
**Describe the solution you'd like**
- [x] Using banner designs we already have been using in the website, make a banner directing to the Impact page which is being renamed from "Insights". (see issue: https://github.com/yalla-coop/chiltern-website/issues/86)

**Additional context**
Full list of changes for context can be found here https://docs.google.com/document/d/1tNeTV5Hm9qvZatG69QTrI0eGMOGY8

[2022-08-31 08:10] bethanyios opened #86 "Change "Insights" page title to "Our Impact" and add text"
**Describe the solution you'd like**
- [x] Change the page title and rename tabs:
"Impact" > "Stats"
"Research and Outcomes" > "Research and Impact"
- [x] Add paragraph under "Our Impact" title:
'We are proud of the impact of our work across numerous different settings and always endeavour to embody our values (share, dare, deepen, listen and care) in our work. Read on to find out more about how o

[2022-09-02 10:32] katieshuster commented on #82
Hi @bethanyios here is the copy and suggested structure for the NEST page: https://docs.google.com/document/d/1IOEQ9WeCYIkf1OiBX2caTemJi9KwXEPAnyPziMBUVBY/edit - do let me know if you have any questions.

I have put this as a priority as ideally we could get this ready to go live by the end of next week or start of the following week. I'm aware this is a tight turn around, is this at all possible

[2022-09-02 10:35] katieshuster commented on #82
![CPD Member logo](https://user-images.githubusercontent.com/89024047/188121743-1035cba5-40c8-443f-88a1-5078b0707e4a.jpg)

logo as mentioned in the document

[2022-09-02 11:05] bethanyios commented on #82
Hi @katieshuster, thank you for the content!
I've messaged @fadeomar to check so we will get back to you on Sunday/Monday.

Just a gentle reminder to use p1 for emergencies - could you change this to p2 please?

[2022-09-02 11:07] katieshuster commented on #82
Ah yes sorry, have changed that.

[2022-09-05 12:30] bethanyios commented on #82
Hi @katieshuster Jem Is going to create some new designs for @fadeomar tomorrow morning and he will get this page set up for you

[2022-09-06 07:13] jema28 commented on #82
Hey @katieshuster, hope you're doing well! Here's the design for your review: https://www.figma.com/file/th8nLWr4WZn9FMdurh5f0c/Chiltern-Music-Therapy---Website?node-id=1614%3A21605. It's mostly using templates that exist already apart from the middle text sections.

The bio section is empty in figma for now but that can be edited in the CMS.

Does that all look okay? Once confirmed @fadeomar can

[2022-09-06 09:10] katieshuster commented on #82
@jema28 Hi Jem, I have added a couple of comments to the figma page but other than a few small thins I think it's good to go! Thank you!

[2022-09-06 09:37] jema28 commented on #82
Great, thanks @katieshuster! I've made those changes. @fadeomar the page is ready for dev now :)

[2022-09-06 12:50] katieshuster opened #87 "Get involved box size"
**Is your feature / client request related to a problem? Please describe.**
The box on the side of the get involved training pages increases/decreases depending on the amount of text in the body of the page

**Describe the solution you'd like**
Please can the box be a fixed height so it doesn't get distorted?

**Additional context**
Example page: https://www.chilternmusictherapy.co.uk/training-eve

[2022-09-06 13:31] cyberteenie commented on #87
@katieshuster - we will have this done by the next report! Thanks!

[2022-09-07 09:04] katieshuster opened #88 "Website sharing preview"
**Is your feature / client request related to a problem? Please describe.**
When we share a link to our website on social media it says 'chiltern-music-therapy-website' as the first thing you read all in lower case which doesn't look great:
![image](https://user-images.githubusercontent.com/89024047/188838055-0db0398b-183d-4358-9361-caf2238bb1dc.png)

**Describe the solution you'd like**
Please ca

[2022-09-07 09:52] cyberteenie commented on #88
@katieshuster Thanks for flagging! I will pass that on to the dev team.

[2022-09-07 13:08] fadeomar commented on #88
hey @katieshuster this done and can be tested

[2022-09-07 13:19] fadeomar commented on #87
hey @katieshuster this is fixed and ready for test :)

[2022-09-07 13:21] katieshuster commented on #88
That's great, thanks @fadeomar for doing it so quickly!

[2022-09-07 13:21] #88 closed

[2022-09-07 13:22] katieshuster commented on #87
Amazing! Thanks @fadeomar

[2022-09-07 13:22] #87 closed

[2022-09-07 19:41] fadeomar commented on #86
Development estimation: <0.5 days

[2022-09-07 19:41] fadeomar commented on #84
Development estimation: <0.5 days

[2022-09-07 19:41] fadeomar commented on #83
Development estimation: 4-5 hours

[2022-09-07 19:43] fadeomar commented on #80
Development estimation: <0.5 days

[2022-09-07 19:44] fadeomar commented on #81
Development estimation: <0.5 days

[2022-09-12 09:48] katieshuster commented on #82
Hi all, just wondering how we were getting on with this new page? Do you know when it will be ready?

[2022-09-12 09:53] fadeomar commented on #82
hey @katieshuster I've started working on this issue today and will let you know when its ready

[2022-09-13 15:13] katieshuster commented on #83
Hi @fadeomar this may be next on your list but could the 'careers' page be moved to underneath about us, rather than get involved please?

[2022-09-13 16:07] katieshuster commented on #82
Hey @fadeomar the NEST page looks great thank you! Would it be possible to remove the 'about us' button. Sorry we didn't spot that before.

Thanks!
![image](https://user-images.githubusercontent.com/89024047/189948690-3c1f36e4-eabc-4ee0-9561-87acaa1f0683.png)

[2022-09-13 16:18] katieshuster commented on #82
Also sorry @fadeomar! Is it possible for us to be able to have different bios on this page, rather than them pull through from the team page?

[2022-09-14 10:24] katieshuster commented on #82
Hi @fadeomar, thanks for doing the webpage, just a couple of things we've noticed.

1. A whole section with the 'who is this programme for?' seems to have disappeared. See below. Please can this come back asap. We also wanted the ''price' heading to be the same size as the 'who is this programme for' heading if possible please.

![image (4)](https://user-images.githubusercontent.com/89024047/19012

[2022-09-14 12:53] cyberteenie commented on #83
@katieshuster - will do!

[2022-09-14 14:48] katieshuster commented on #82
Thanks @cyberteenie - if there is any chance @fadeomar can prioritise it tomorrow that would be great!
I have recorded a short loom to go over the issues in case that's helpful: https://www.loom.com/share/8e19a2420f2943ef8984290e44c63fe7

[2022-09-15 12:48] fadeomar commented on #81
hey @katieshuster , this is done and can be tested

[2022-09-15 16:58] fadeomar commented on #83
hey @katieshuster I've moved it please check

[2022-09-15 17:39] fadeomar commented on #82
hey @katieshuster I've fixed all the three points, but for the point 1 the section will not be appear at the designer view because it's in nest programme tab and it tab not page so I had to add custom code to make look like design BUT you can edit the content using the Editor view
![image](https://user-images.githubusercontent.com/39485495/190473069-2453ad11-bce9-4d5c-9e4b-92a8eb0d40ed.png)

and I

[2022-09-16 09:27] katieshuster commented on #83
Thanks @fadeomar that's worked, however I think the menu on mobile needs to be updated as it doesn't look right?
![IMG_8263](https://user-images.githubusercontent.com/89024047/190605510-db40469c-8a51-4679-946e-8d8ea5950c26.PNG)

[2022-09-16 09:35] katieshuster commented on #82
Thanks @fadeomar that section looks good thank you. Is it possible for us to amend the bios? Or is that something you will need to do? I have added them below if you need to do it...

Elizabeth completed her MSc in Music Therapy at Queen Margaret University before carrying out further study to train as a Neurologic Music Therapist, NICU-MT, and MATADOC assessor. She is passionate about neurorehabi

[2022-09-16 09:52] katieshuster commented on #82
Also sorry @fadeomar - when you have moment, would it be possible for us to have a link to the nest page which is chilternmusictherapy.co.uk/nest please? Thank you!

[2022-09-16 16:56] cyberteenie commented on #82
@katieshuster Fade is off until Sunday, but I will ask him to address those bits first thing!

[2022-09-16 17:02] cyberteenie commented on #83
@katieshuster - sorry about that. @fadeomar will look to fixing that on Sunday!

[2022-09-18 09:58] fadeomar commented on #86
hey @katieshuster, this is done and can be tested

[2022-09-18 10:03] fadeomar commented on #85
hey @bethanyios
  - where the new banner should be added?
  - what is the content of the banner
  - is there a title in the new banner?
  - does the new banner contain a button?

[2022-09-19 18:26] fadeomar commented on #83
hey @katieshuster this is fixed can you check please

[2022-09-20 07:54] katieshuster commented on #86
That's great, thanks @fadeomar

[2022-09-20 07:54] #86 closed

[2022-09-20 07:55] katieshuster commented on #81
That's great, thanks @fadeomar

[2022-09-20 07:56] katieshuster commented on #83
Hey, yep that looks great, thanks @fadeomar

[2022-09-20 07:56] #83 closed

[2022-09-20 08:27] katieshuster opened #89 "Add training email to contact page"
**Is your feature / client request related to a problem? Please describe.**
People are unable to email our training team directly which we would like

**Describe the solution you'd like**
On the contact page, inder email could it say:
General: info@chilternmusictherapy.co.uk
Training: training@chilternmusictherapy.co.uk

https://www.chilternmusictherapy.co.uk/contact

**Describe alternatives you'v

[2022-09-20 14:44] cyberteenie commented on #89
@katieshuster Noted! Will get that done before the next report! Thanks!

[2022-09-20 14:47] cyberteenie commented on #82
@katieshuster
Here is a message from Fade:
I have updated the copies as she requested, but for the question that she asked, the nest programmes is a Tab in the page as part of existing page (training page) and we can't create a url for specific tab. what we can do as a solution is to create a redirect link so when the user navigate or type in the browser this link will automatically open the nest

[2022-09-21 07:53] katieshuster commented on #82
@cyberteenie that sounds like a good solution to me, thank you

[2022-09-26 10:24] fadeomar commented on #89
hey @katieshuster this is done [https://www.chilternmusictherapy.co.uk/contact](https://www.chilternmusictherapy.co.uk/contact)

[2022-09-27 10:02] katieshuster commented on #82
Thank you!

[2022-09-27 10:02] #82 closed

[2022-09-27 10:03] katieshuster commented on #89
Thank you!

[2022-09-27 10:03] #89 closed

[2022-09-27 13:43] katieshuster commented on #85
Sorry for the delay @bethanyios @fadeomar

Could the copy be: "To find out more about the impact of our work why not have a look at some of our stories and read the research and impact reports from a variety of our projects, some of which were funded projects."

And could the button be: ‘See our impact'

[2022-09-28 12:42] bethanyios commented on #84
Hi @katieshuster hope you are well, in the first point above could you just clarify which sections you're referring to when you say "fundraise for us" or "volunteer with us", so we can put them in the right order?

The other sections in Ways to Support us section are:
"Want to hear how your support is making a difference?"
"Partner with us"

I think those are what you're referring to, we have swit

[2022-09-28 15:37] cyberteenie commented on #85
Thanks @katieshuster !

[2022-10-03 11:12] fadeomar commented on #80
hey @katieshuster I've done this issue sorry for delay, now you have description 1, link 1, description 2, link 2, description 3 and link 3, and you can add photos to the description fields as previous because it's reach text field and you can add photos inside and there is no need for new fields for photos because it might require a new design to know where to put the new images how it will look

[2022-10-03 12:08] fadeomar commented on #79
hey @katieshuster I've done this issue,
for the story that shown in  "Who we work with" pages you have to add tag for it because its needed to match between the story and the tag page (which one of "Who we work with" pages ) to be shown on. and if the tag wasn't selected at any of the stories then there is no story to show in the tag page.
![image](https://user-images.githubusercontent.com/3948549

[2022-10-04 05:51] cyberteenie commented on #84
@katieshuster - just bumping Beth's question above!

[2022-10-04 21:01] cyberteenie commented on #85
@katieshuster this issue is ready to be checked. Feel free to close if you are happy with it! Thanks!

[2022-10-05 15:12] katieshuster commented on #85
thank you, that looks great, is it possible to fix the height of the boxes so they are the same height?
![image](https://user-images.githubusercontent.com/89024047/194096424-abf1264d-8543-45fd-954f-49f06c816ef7.png)

[2022-10-05 15:45] katieshuster opened #90 "How to change news articles on song for life page"
**Is your feature / client request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Ex. I'm always frustrated when [...]
Ex. We need to delete a user [...]
We would like to be able to pick with news/story items to appear on the song for life page: https://www.chilternmusictherapy.co.uk/song-for-life but I'm unsure how to do this.

**Describe the solu

[2022-10-06 07:18] cyberteenie commented on #90
@katieshuster - will pass this to the team!

[2022-10-10 15:33] cyberteenie commented on #85
@katieshuster - I will follow up with @fadeomar on this!

[2022-10-10 15:33] cyberteenie commented on #84
@katieshuster - just another bump for Beth's question above! Thanks!

[2022-10-10 15:35] cyberteenie commented on #79
@katieshuster - does this solution work for you? If so feel free to close! Thanks!

[2022-10-11 07:24] yalla-coop-sla commented on #74
Hi Katie,
Thanks for letting us know! I will have the development team look into this.

[2022-10-11 09:13] katieshuster commented on #84
Hi @bethanyios apologies for the delay. I think these would be two new boxes with the following copy:

[2022-10-11 10:00] bethanyios commented on #84
Hi @katieshuster thanks for getting back to us, makes sense!
So we will keep these tiles but replace content with this new copy.

cc. @fadeomar let me know if you need anything to be clearer

[2022-10-11 11:31] cyberteenie commented on #84
@katieshuster Thanks for letting us know! Just wanted to mention that @fadeomar is away this week but can update it when he is back next week. Is that an okay timeline for you?

[2022-10-11 12:30] #79 closed

[2022-10-11 12:47] katieshuster commented on #84
@cyberteenie no problem

[2022-10-11 13:36] fadeomar commented on #85
hey @katieshuster @cyberteenie I've done that :) [https://www.chilternmusictherapy.co.uk/support-us](https://www.chilternmusictherapy.co.uk/support-us)

[2022-10-11 14:39] #80 closed

[2022-10-11 22:33] cyberteenie commented on #85
thanks Fadi. Off to you for testing @katieshuster !

[2022-10-13 14:42] katieshuster commented on #90
That's perfect, thank you @fadeomar

[2022-10-13 14:42] #90 closed

[2022-10-13 15:16] katieshuster commented on #85
that's great, thank you!

[2022-10-13 15:16] #85 closed

[2022-10-17 20:13] fadeomar commented on #84
hey @katieshuster this is ready for testing :)

[2022-10-18 13:11] katieshuster commented on #84
This looks great, thank you!

[2022-10-18 13:11] #84 closed

[2022-10-19 07:27] katieshuster opened #91 "Add alternative domains to website"
**Is your feature / client request related to a problem? Please describe.**
We have a number of domains that we own that we would like to add to the site as alternate domains if possible please?
These are:
chilternneuroservices.co.uk
chilternneuro.co.uk
chilternneuromedical.co.uk
chilternneuromedicalservices.co.uk

If all of those could point to: https://www.chilternmusictherapy.co.uk/insights-tag

[2022-10-19 11:56] fadeomar commented on #91
hey @katieshuster this is not related to the Webflow at has to be done from the hosting panel that you have controlled all your domains, if you can add me to your hosting then I can work on this request

[2022-10-19 13:24] cyberteenie commented on #91
URGENT - @katieshuster - I have just deleted your last comment as this is an open-source repo and all your comments are public. Unfortunately, you are going to have to change your password. Please send the new login information via email to fadi@yallacooperative.com

Thanks!

[2022-10-19 13:28] katieshuster commented on #91
Oh thanks for letting me know. I have changed it and will email fadi now!

[2022-10-20 13:23] RamyAlshurafa commented on #91
Hey @katieshuster

The domains you have are not with `.co.uk` but `.com`
just checking that you are not referring to something else.

[2022-10-20 13:41] katieshuster commented on #91
Oh that makes a lot more sense. I am just transferring the domains across so we would need to activate .com and .co.uk if possible please.

[2022-10-20 14:21] RamyAlshurafa commented on #91
Ok thanks,

on another point you said you want them to redirect to `https://www.chilternmusictherapy.co.uk/insights-tags/brain-injury-neuro-disability` or you meant `https://www.chilternmusictherapy.co.uk/` ?

[2022-10-20 14:26] katieshuster commented on #91
Ideally yes please to the first link please

[2022-10-20 14:50] RamyAlshurafa commented on #91
ok thanks @katieshuster

[2022-10-21 10:23] cyberteenie opened #92 "Copy change"
Via email from @ihall78 / Izzy

On the page [www.chilternmusictherapy.co.uk/nest ](http://www.chilternmusictherapy.co.uk/nest)

Could the following please be changed from:

Next steps
Our first NEST cohort will start in October. Registration is open now! To register or find out more, please email our training team at [training@chilternmusictherapy.co.uk](mailto:training@chilternmusictherapy.co.uk)

[2022-10-21 15:15] fadeomar commented on #92
hey @katieshuster  this is done 👍

[2022-10-25 16:18] RamyAlshurafa commented on #91
Hey @katieshuster
i tried the redirect to `https://www.chilternmusictherapy.co.uk/insights-tags/brain-injury-neuro-disability` page but it didn't work, and it just accepts the root domain `https://www.chilternmusictherapy.co.uk`, so contacted the support but they didn't got back
will try another work around to make it link to the specific page, will keep you updated

[2022-10-26 10:16] cyberteenie commented on #92
@ihall78 this is done and ready to be tested.

[2022-10-26 10:17] ihall78 commented on #92
OK thanks

On Wed, 26 Oct 2022 at 11:16, Kristina ***@***.***> wrote:

[2022-10-26 10:17] #92 closed

[2022-11-07 11:12] katieshuster commented on #91
Thanks @RamyAlshurafa if it doesn't work - it's fine for it to just go to the main chiltern homepage

[2022-11-11 08:28] RamyAlshurafa commented on #91
Hey @katieshuster
sorry for this taking too long to sort out, but ive been trying to add the CNames into Freeparking and i had to wait up to 72 hours for the changes to propagate, and unfortunately it didn't work too, i saw you have added some domains to Cloudflare,
I can add the other domains for you if you can give me the Cloudflare login details

[2022-11-14 04:44] RamyAlshurafa commented on #91
unable to log into freeparking today
<img width="350" alt="Screen Shot 2022-11-14 at 6 43 17 AM" src="https://user-images.githubusercontent.com/34629478/201577036-ba004775-6fe5-4fcf-9a12-cde5326dfe19.png">

[2022-11-14 12:08] cyberteenie commented on #91
@katieshuster I just wanted to bump this thread and make sure you see Ramy's questions above.
Regarding the login details, just a  reminder to share those privately and not here in the comments as this is an opensource repo! Thanks!

[2022-11-14 17:46] RamyAlshurafa commented on #91
Hey @cyberteenie
no need for Katie to share the login details, as i have them. the issue from the screenshot above was on their side, and resolved now

im contacting the support to resolve this issue, will update here once i hear back from them

[2022-11-16 11:03] katieshuster commented on #91
Just to say - I don't know what Cloudflare is? Not sure I've used that.

[2022-11-20 13:08] RamyAlshurafa commented on #91
ok no worries @katieshuster
i still not able to update the domains and i opened a request on Freeparking on 23rd Oct, and they replied on 7th Nov with this
[code]

and then i replied with the requested details, but haven't gotten any response yet.

will keep you updated 👍

[2022-11-21 08:51] katieshuster commented on #91
@RamyAlshurafa thanks so much for persevering!